.display-group-section {
    padding: 25px 0;
}

.product-card {
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.product-card img {
    width: 100%;
    transition: all 400ms;
    margin-bottom: 20px;
}

.product-card img:hover {
    transform: scale(1.1);

}

.card-text {
    position: relative;
    z-index: 2;
}

.card-text h6 {
    font-weight: 300;
}



.action-icon {
    opacity: 0;
    position: absolute;
    top: 5px;
    right: -10px;
    transition: all 300ms;
}

.product-card:hover .action-icon {
    opacity: 1;
    top: 5px;
    right: 5px
}



.action-icon span {
    font-size: 22px;
    background-color: gray;
    color: white;
    padding: 5px 7px;
    margin: 3px;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}

.action-icon span:hover {
    background-color:  #198754;
}

.batch {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 3;
}

.product-title {
    font-size: 22px;
    font-weight: 400;
    margin: 8px 0
}

.porduct-category {
    padding: 0;
    margin: 0;
    font-size: 15px
}

.price {
    font-weight: 600;
}